/* Navigation bar */

nav {
    display: flex;
    background-color: #ff6600;
    align-items: center;
    padding: 5px 20px;
    border-radius: 3px 3px 0 0;
    height: 60px;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 10px;
}

#nav-all {
    font-size: 1em;
}

.nav-link {
    font-size: 0.85rem;
    margin: 0 3px;
}

.nav-right {
    margin-left: auto;
    text-align: right;
}
