/* Lists of stories */

.stories-list {
    margin: 20px 5px;
}

.stories-list > li {
    color: gray;
    font-size: 0.8rem;
    margin: 10px 0;
    border-bottom: 1px solid rgb(214, 214, 214);
}

#stories-loading-msg {
    font-weight: bold;
    font-size: 150%;
    margin: 20px 30px;
}

/* Individual stories */

.story-link {
    color: black;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 18px 0;
}

.story-link:hover {
    text-decoration: none;
}

.story-author {
    margin-left: 1.45em;
    display: block;
    color: rgb(0, 97, 0);
    font-size: 0.85rem;
    padding: 5px 0;
}

.story-user {
    margin-left: 1.45em;
    display: block;
    color: rgb(228, 175, 1);
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.star:hover {
    cursor: pointer;
}

.trash:hover {
    cursor: pointer;
    color: red;
}
